*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    
}

video {
    width: 100%;
    height:850px;
    object-fit: cover;

}

.content{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    right: 25%;
    top: .001%;
    color: white;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

@media only screen and (max-width:900px){
   .content{
    top :200px;
    width: 100%;
    height: 80%;
    display:flexbox;
    text-align: center;
    left: -5px;
    color: white;
    font-size: large;
    align-items: center;

   }
}